{% extends "general/index.html" %}

{% block page_title %}Technical Personnel Details{% endblock %}

{% block content %}
<div id="technical-personnel-content"
     hx-get="/api/technical-personnel/{{ id }}"
     hx-trigger="load"
     class="min-h-[500px]">
    <!-- Technical personnel details will be loaded here via HTMX -->
    <div class="flex justify-center items-center h-[500px]">
        <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-custom-secondary"></div>
    </div>
</div>

<!-- Notification container -->
<div id="notification-container"></div>
{% endblock %}
