{% extends "general/index.html" %}

{% block page_title %}Brigade Details{% endblock %}

{% block content %}
<div id="brigade-content"
     hx-get="/api/brigades/{{ id }}"
     hx-trigger="load"
     hx-vals='{"tab": "workers"}'
     class="min-h-[500px]">
    <!-- Brigade details will be loaded here via HTMX -->
    <div class="flex justify-center items-center h-[500px]">
        <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-custom-secondary"></div>
    </div>
</div>
{% endblock %}